
.site
	.container
		width: 178rem
		margin-right: auto
		margin-left: auto
		position: relative
		padding-right: 1rem
		padding-left: 1rem
		&-fluid
			width: 100%
			padding-right: 2rem
			padding-left: 2rem
			position: relative
		&-full
			width: 100%
			padding-right: 1rem
			padding-left: 1rem
			position: relative
	.row
		display: flex
		flex-wrap: wrap
		margin-right: -1rem
		margin-left: -1rem
		& > *
			padding-right: 1rem
			padding-left: 1rem
			flex-shrink: 0
			width: 100%
	.col
		flex: 1 0 0%
	.col-auto
		flex: 0 0 auto
		width: auto

	.col-1
		flex: 0 0 auto
		width: 8.33333333%

	.col-2
		flex: 0 0 auto
		width: 16.66666667%

	.col-3
		flex: 0 0 auto
		width: 25%

	.col-4
		flex: 0 0 auto
		width: 33.33333333%

	.col-5
		flex: 0 0 auto
		width: 41.66666667%

	.col-6
		flex: 0 0 auto
		width: 50%

	.col-7
		flex: 0 0 auto
		width: 58.33333333%

	.col-8
		flex: 0 0 auto
		width: 66.66666667%

	.col-9
		flex: 0 0 auto
		width: 75%

	.col-10
		flex: 0 0 auto
		width: 83.33333333%

	.col-11
		flex: 0 0 auto
		width: 91.66666667%

	.col-12
		flex: 0 0 auto
		width: 100%

	.offset-1
		margin-left: 8.33333333%

	.offset-2
		margin-left: 16.66666667%

	.offset-3
		margin-left: 25%

	.offset-4
		margin-left: 33.33333333%

	.offset-5
		margin-left: 41.66666667%

	.offset-6
		margin-left: 50%

	.offset-7
		margin-left: 58.33333333%

	.offset-8
		margin-left: 66.66666667%

	.offset-9
		margin-left: 75%

	.offset-10
		margin-left: 83.33333333%

	.offset-11
		margin-left: 91.66666667%
	.ms-auto
		margin-left: auto
	.d-none
		display: none !important
	.d-flex
		display: flex
	.mb-0
		margin-bottom: 0 !important
	.d-block
		display: block !important
@media (max-width: 1440px)
	.site
		.container
			width: 134rem
			padding-right: 1rem
			padding-left: 1rem
		.col-xxl
			flex: 1 0 0%
		.col-xxl-auto
			flex: 0 0 auto
			width: auto

		.col-xxl-1
			flex: 0 0 auto
			width: 8.33333333%

		.col-xxl-2
			flex: 0 0 auto
			width: 16.66666667%

		.col-xxl-3
			flex: 0 0 auto
			width: 25%

		.col-xxl-4
			flex: 0 0 auto
			width: 33.33333333%

		.col-xxl-5
			flex: 0 0 auto
			width: 41.66666667%

		.col-xxl-6
			flex: 0 0 auto
			width: 50%

		.col-xxl-7
			flex: 0 0 auto
			width: 58.33333333%

		.col-xxl-8
			flex: 0 0 auto
			width: 66.66666667%

		.col-xxl-9
			flex: 0 0 auto
			width: 75%

		.col-xxl-10
			flex: 0 0 auto
			width: 83.33333333%

		.col-xxl-11
			flex: 0 0 auto
			width: 91.66666667%

		.col-xxl-12
			flex: 0 0 auto
			width: 100%

		.offset-xxl-0
			margin-left: 0

		.offset-xxl-1
			margin-left: 8.33333333%

		.offset-xxl-2
			margin-left: 16.66666667%

		.offset-xxl-3
			margin-left: 25%

		.offset-xxl-4
			margin-left: 33.33333333%

		.offset-xxl-5
			margin-left: 41.66666667%

		.offset-xxl-6
			margin-left: 50%

		.offset-xxl-7
			margin-left: 58.33333333%

		.offset-xxl-8
			margin-left: 66.66666667%

		.offset-xxl-9
			margin-left: 75%

		.offset-xxl-10
			margin-left: 83.33333333%

		.offset-xxl-11
			margin-left: 91.66666667%
		.d-xxl-none
			display: none !important
		.d-xxl-block
			display: block !important
		.d-xxl-flex
			display: flex !important
@media (max-width: 1024px)
	.site
		.container
			width: 96.4rem
		.col-lg
			flex: 1 0 0%
		.col-lg-auto
			flex: 0 0 auto
			width: auto

		.col-lg-1
			flex: 0 0 auto
			width: 8.33333333%

		.col-lg-2
			flex: 0 0 auto
			width: 16.66666667%

		.col-lg-3
			flex: 0 0 auto
			width: 25%

		.col-lg-4
			flex: 0 0 auto
			width: 33.33333333%

		.col-lg-5
			flex: 0 0 auto
			width: 41.66666667%

		.col-lg-6
			flex: 0 0 auto
			width: 50%

		.col-lg-7
			flex: 0 0 auto
			width: 58.33333333%

		.col-lg-8
			flex: 0 0 auto
			width: 66.66666667%

		.col-lg-9
			flex: 0 0 auto
			width: 75%

		.col-lg-10
			flex: 0 0 auto
			width: 83.33333333%

		.col-lg-11
			flex: 0 0 auto
			width: 91.66666667%

		.col-lg-12
			flex: 0 0 auto
			width: 100%

		.offset-lg-0
			margin-left: 0

		.offset-lg-1
			margin-left: 8.33333333%

		.offset-lg-2
			margin-left: 16.66666667%

		.offset-lg-3
			margin-left: 25%

		.offset-lg-4
			margin-left: 33.33333333%

		.offset-lg-5
			margin-left: 41.66666667%

		.offset-lg-6
			margin-left: 50%

		.offset-lg-7
			margin-left: 58.33333333%

		.offset-lg-8
			margin-left: 66.66666667%

		.offset-lg-9
			margin-left: 75%

		.offset-lg-10
			margin-left: 83.33333333%

		.offset-lg-11
			margin-left: 91.66666667%
		.d-lg-none
			display: none !important
		.d-lg-block
			display: block !important
		.d-lg-flex
			display: flex !important
@media (max-width: 576px)
	.site
		.container
			width: 100%
			padding-right: 2rem
			padding-left: 2rem
			&-fluid
				padding-right: 0
				padding-left: 0
			&-full
				padding-right: 1rem
				padding-left: 1rem
		.col-sm
			flex: 1 0 0%
		.col-sm-auto
			flex: 0 0 auto
			width: auto

		.col-sm-1
			flex: 0 0 auto
			width: 8.33333333%

		.col-sm-2
			flex: 0 0 auto
			width: 16.66666667%

		.col-sm-3
			flex: 0 0 auto
			width: 25%

		.col-sm-4
			flex: 0 0 auto
			width: 33.33333333%

		.col-sm-5
			flex: 0 0 auto
			width: 41.66666667%

		.col-sm-6
			flex: 0 0 auto
			width: 50%

		.col-sm-7
			flex: 0 0 auto
			width: 58.33333333%

		.col-sm-8
			flex: 0 0 auto
			width: 66.66666667%

		.col-sm-9
			flex: 0 0 auto
			width: 75%

		.col-sm-10
			flex: 0 0 auto
			width: 83.33333333%

		.col-sm-11
			flex: 0 0 auto
			width: 91.66666667%

		.col-sm-12
			flex: 0 0 auto
			width: 100%

		.offset-sm-0
			margin-left: 0

		.offset-sm-1
			margin-left: 8.33333333%

		.offset-sm-2
			margin-left: 16.66666667%

		.offset-sm-3
			margin-left: 25%

		.offset-sm-4
			margin-left: 33.33333333%

		.offset-sm-5
			margin-left: 41.66666667%

		.offset-sm-6
			margin-left: 50%

		.offset-sm-7
			margin-left: 58.33333333%

		.offset-sm-8
			margin-left: 66.66666667%

		.offset-sm-9
			margin-left: 75%

		.offset-sm-10
			margin-left: 83.33333333%

		.offset-sm-11
			margin-left: 91.66666667%
		.d-sm-none
			display: none !important
		.d-sm-block
			display: block !important
		.d-sm-flex
			display: flex !important
		.d-flex
			flex-wrap: wrap
