body
	font-family: var(--e-global-typography-text-font-family)
	font-weight: var(--e-global-typography-text-font-weight)
	line-height: var(--e-global-typography-text-line-height)
	font-size: var(--e-global-typography-text-font-size)
.site
	.title
		font-family: var(--e-global-typography-primary-font-family)
	.section__title
		font-family: var(--e-global-typography-primary-font-family)
		font-weight: var(--e-global-typography-primary-font-weight)
		font-size: var(--e-global-typography-primary-font-size)
		line-height: var(--e-global-typography-primary-line-height)
		letter-spacing: var(--e-global-typography-primary-letter-spacing)
	.item__title
		font-family: var(--e-global-typography-secondary-font-family)
		font-weight: var(--e-global-typography-secondary-font-weight)
		font-size: var(--e-global-typography-secondary-font-size)
		line-height: var(--e-global-typography-secondary-line-height)
	.middle__title
		font-family: var(--e-global-typography-0271b7a-font-family)
		font-weight: var(--e-global-typography-0271b7a-font-weight)
		font-size: var(--e-global-typography-0271b7a-font-size)
		line-height: var(--e-global-typography-0271b7a-line-height)
	.small__title
		font-family: var(--e-global-typography-5b7d725-font-family)
		font-weight: var(--e-global-typography-5b7d725-font-weight)
		font-size: var(--e-global-typography-5b7d725-font-size)
		line-height: var(--e-global-typography-5b7d725-line-height)
	.txt
		font-family: var(--e-global-typography-text-font-family)
		font-weight: var(--e-global-typography-text-font-weight)
		line-height: var(--e-global-typography-text-line-height)
		font-size: var(--e-global-typography-text-font-size)
	.txt_2
		font-family: var(--e-global-typography-accent-font-family)
		font-weight: var(--e-global-typography-accent-font-weight)
		line-height: var(--e-global-typography-accent-line-height)
		font-size: var(--e-global-typography-accent-font-size)
