.mb__section
	margin-bottom: 16rem
.site-main
	p
		margin-bottom: 1rem
		&:last-child
			margin-bottom: 0
	ul, ol
		padding-left: 3rem
	li
		margin-bottom: 1rem
		&:last-child
			margin: 0
@media screen and (max-width: 1440px)
	.mb__section
		margin-bottom: 14rem
@media screen and (max-width: 1024px)
	.mb__section
		margin-bottom: 10rem
@media screen and (max-width: 576px)
	.mb__section
		margin-bottom: 8rem
	.site-main
		ul, ol
			padding-left: 2rem
