.btn__group_slider
	display: flex
	gap: 1.6rem
	cursor: pointer
	.btn__slider
		height: auto
.swiper-button-disabled
	opacity: 0.4
.alfa__slider
	overflow: hidden
.swiper-wrapper
	will-change: transform
@media screen and (max-width: 1024px)
	.btn__group_slider
		gap: 0.8rem
		svg
			width: 4.2rem
			height: 4.2rem
